html {
    height: 100%;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    width: 512px;
    height: 512px;
    flex-wrap: wrap;
    margin: auto;
    border: springgreen;
    border-style: solid;
}

.item{

    height: 32px;
    width: 32px;
    background-color: white;

    flex: 1 1 auto;
}

.size-button{
    height: 30px;
    width: 60px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.activated {
    background-color: black;
}